body {
    background-color: #e5e7eb;
    height: 90vh;
    width: 90vw;
    margin: 10;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hl {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10%;
}

.subtext {
    height: 5vh;
    width: 25vw;
    text-align: start;
    color: rgb(145, 144, 144);
    font-size: 1rem;
}
.links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 10%;
    font-size: 10px;
}

.header {
    background-color:#1F2937;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 10vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
    color: white;
    
    
}
.signbtn {
    background-color: rgb(59, 130, 246);
    border: none;
    margin-left: -100%;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    width: 130px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-left: -1%;
    cursor: pointer;
}
.place {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 18%
}
.image {
    
    background-color: gray;
    height: 30vh;
    width: 35vw;
    margin-left: 55%;
    border: 2px solid rgba(0, 0, 0, 0);
}
.h1text {
    position: absolute;
    display: flex;
    justify-content: start;
    margin-left: 10%;
    font-size: 2rem;
    width: 35vw;
    height: 3rem;
    text-align: center;
}
.tt {
    position: absolute;
    display: flex;
    justify-content: start;
    top: -130px;
    font-size: 3rem;
    width: 35vw;
    text-align: start;
}
.hero {
       background-color: #1F2937;
    border: 2px solid #1F2937;
    height: 60vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
    color: white;
    
}
.info {
       background-color: #f9faf8;
    border: none;
    height:60vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
    color: white;
    
}
.quote {
   background-color: #e5e7eb;
    border: none;
    height: 50vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
    color: white;
    
}
.tquote {
    font-size: 1.6rem;
    font-style: oblique;
    font-weight: lighter;
    margin-left: 35%;
    margin-right: 25%;
    text-align: start;
    color: black;
}

.author {
    display: flex;
    justify-content: start;
    margin-left: 70%;
    margin-top: -6rem;
    margin-bottom: 5rem;
}
.call {
       background-color: rgb(247, 248, 246);
    border: none;
    height: 30vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
    color: white;
    
}
.subt3 {
    color: white;
    font-size: 1.2rem;
    
    margin-left: 4.8rem;
    margin-top: 1.5rem;
}
.subt4 {
    color: white;
    font-size: 1rem;
    margin-left: -11.9rem;
    margin-top: 3rem;
}
.ctabtn {
    background-color: #024abe;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding:0;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 65%;
    margin-top: -1rem;
    z-index: 20;
    cursor: pointer;
}
.contaction {
    border: 2px solid #0856d3;
    border-radius: 3px;
    background-color:#024abe;
    display: flex;
    height: 6rem;
    width: 45rem;
    position: absolute;
    margin-left: 25%;
    margin-right: 15%;
    z-index: 6;
    margin-top: -1rem;
}

.copyright {
    color: white;
    font-size: 1rem;
    margin-left: 43%;
}
.footer {
       background-color: rgb(50, 52, 49);
    border: none;
    height: 10vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
   
   
}
.sri {
    color: black;
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: 38%;
    margin-top: -15rem;
}

.box, .box2, .box3, .box4 {
    background-color: white;
    height: 140px;
    width: 150px;
    border-radius: 10px;
    border: 4px solid rgb(53, 116, 250);
    display: flex;
    justify-content: start;
    left: 100rem;
    gap: 20rem;
    margin-top: 2rem;
    
}
.box {
    margin: 30px;
    gap: 5rem;
 }

.box2 {
    margin: 15px;
    margin-left: -48rem;
    left: 20rem;
 } 
 
 .box3 {
    margin: 10px;
    margin-left: -36rem;
    left: 20rem;
 } 
 .box4 {
    margin: 10px;
    margin-left: -24rem;
    left: 20rem;
 } 
    

.subt2 {
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-top:9rem;
}
.quote {
    border: none;
}